/* Site Styles */

body {
	padding-top: 71px;
}

.navbar {
	background-color: rgb(6, 14, 20);
}
	
.footer-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-item-flex {
	flex: 0 1 auto;
}